
<div class="card mt-5">
      <div class="card-header bg-danger text-white">
<h3 class="font-weight-bold ">THÊM SINH VIÊN</h3>
      </div>
  <div class="card-body">
    <div class="container">
        <form action="/sinhvien/luusinhvien" method="post">
       <div class="form-row"> <!--thuộc tính form-row nó giúp chia 2 cột trên 1 row của nó-->
                    <div class="col">
                        <label>HỌ TÊN SINH VIÊN</label>
                        <input id="current-pass-control" name="" id="txt_hoten" class="form-control" type="text" value="">
                          
                    </div>
                   <div class="col">
                        <label>NĂM SINH</label>
                        <input id="new-pass-control" name="txt_ma_nv" id="txt_manv" class="form-control" type="text" value="">
                       
                    </div>
</div>
<div class="card-header text-white">
                    <button id="submit-button" type="submit" class="btn btn-warning" name="action" value="CONFIRM"><i class="icon-save"></i>&nbsp&nbspLưu Lại&nbsp&nbsp</button>
                    <a href="/sinhvien" class="btn btn-danger"><i class="icon-remove"></i>&nbsp&nbspVề Trang Chủ&nbsp&nbsp</a>
</div>
</form>
  </div>
</div>
  
 
 